<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        table {
            width: 100%;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid blue;
            text-align: center;
        }

    </style>

</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>注册时间</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.uid }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.create_date }}</td>
            <td></td>
        </tr>
    {% endfor %}

</table>
<a href="http://127.0.0.1:9000/user/limit/1/10">1</a>
<a href="http://127.0.0.1:9000/user/limit/5/10">5</a>
<a href="http://127.0.0.1:9000/user/limit/6/10">6</a>

</body>
</html>